* {margin: 0; padding: 0;}
.app-a {background-color: #fff;}
.app-aa {background-color: #7f8cb6;}
.app-b {float: left;}
.app-c {text-align: left;}
.app-ca {text-align: center;}
.app-d {height: 10em;}
.app-f {font-size: 62.5%;}
.app-g {width: 100%;}