* {margin: 0; padding: 0;}
.app-a {background-color: #fff;}
.app-aa {background-color: #7f8cb6;}
.app-b {float: left;}
.app-c {text-align: left;}
.app-ca {text-align: center;}
.app-d {height: 10em;}
.app-f {font-size: 62.5%;}
.app-g {width: 100%;}
.app-i {margin-bottom: -4px;}
.app-i img {width:100%;height: 10em;}
.app-j {color: #fff;line-height: 5em;}
.app-k {min-height: 80vh;}
#logo {margin-left: 80px;margin-top: 40px;}
@media screen and (max-width: 800px) {
	.app-i {display:none;}
	#logo {margin-top: 25px;width: 80px;margin-left:100px;}
	.app-j {line-height: 10em;}
}
