<!doctype html>
<html>
<head>
<title>{{ page.title }} - {{ site.name }}</title>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width initial-scale=1'>
</head>
<link rel="stylesheet" type="text/css" href="{{ site.url }}/style/main.css">
<body class="app-f">
<div class="app-aa app-c app-b app-g app-d"><a href="{{ site.url }}"><img id="logo" src="{{ site.url}}/style/images/logo.svg" /></a></div>
<div class="app-i app-b app-g"><img src="{{ site.url}}/style/images/upbg.svg" /></div>
<div class="app-b">
{{ content }}
</div>
<div class="app-i app-b app-g"><img src="{{ site.url}}/style/images/bottombg.svg" /></div>
<div class="app-aa app-ca app-b app-g app-d app-j">www.zhepianyun.com</div>
<script type="text/javascript" src="{{ site.url }}/style/main.js"></script>
</body>
</html>